.nav-item , .navbar-brand{
    font-family: "Slabo 27px", serif;
    font-weight: 400;
    font-style: normal;
  }
  
 .marquee {
  background-color: palevioletred;
  font-size: larger;
 }
 .row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid#ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.bag-icon{
  color:#ff0f3f;
}


.btn {
  background-color: palevioletred;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: palevioletred;
}

span.price {
  float: right;
  color: grey;
}

.accordion{
  --bs-accordion-btn-bg: #ffc0d3;
  --bs-accordion-active-bg: #ff5c8d;
  --bs-accordion-active-color: #ffffff;
  --bs-accordion-btn-focus-box-shadow:none;
  
}

.carousel-indicators .active {
  background-color: #f00;
}


.carousel-control-prev-icon {

background-image: url"data:image/svg+xml;charset=utf8,%3Csvg xmIns='http://www.w3.org/20

00/svg' fill='%23fff viewBox='0 0 8 8'%3%3Cpath d='M5.25 01-4 4 4 4 1.5-1.5-2.5-2.5 2.5-

2.5-1.5-1.52'/%3E%3C/svg%3E"} limportant;}

.carousel-control-next-icon {

background-image: url"data:image/svg +xml;charset=utf8,%3Csvg xmIns='http://www.w3.org/2

000/svg' fill='%23ff5c8d viewBox='0 0 8 8'%3%3Cpath d='M2.75 01-1.5 1.5 2.5 2.5-2.5 2.5 1.5

1.5 4-4-4-42/%3Е%3C/svg%3E" limportant;}

